@model Reports
<div class="container3">
        <div class="container2">
            <div><i>Injured Person Details</i></div><br />
            <div id="indent">
                <div class="form-group row">
                   
                    <label asp-for="Principal.FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.Principal.FirstName</p>
                    </div>
                    <label asp-for="Principal.LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.Principal.LastName</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Principal.DOB" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.Principal.DOB.ToString("dd/MM/yy")</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Principal.nextOfKin" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.Principal.nextOfKin</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Principal.SubjectType" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.Principal.SubjectType</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container2">
            <div><i>Incident Details</i></div><br />
            <div id="indent">

                <div class="form-group row">
                    <label asp-for="date" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.date.ToString("dd/MM/yy")</p>
                    </div>
                    <label asp-for="time" class="col-md-2 control-label"></label>
                    <div class="col-3">
                        <p>@Model.time.ToString("hh:mm")</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IncidentType" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.IncidentType</p>
                    </div>
                    <label asp-for="IncidentLocation" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.IncidentLocation</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Serverity" class="col-md-2 control-label"></label>
                    <div>
                        <p>@Model.Serverity</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MedicalIntervention" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.MedicalIntervention</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IncidentDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <p>@Model.IncidentDescription</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="container2">
            <div>
                <label>Additional Witness</label>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="PresentFirstName" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.PresentFirstName</p>
                </div>
                <label asp-for="PresentLastName" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.PresentLastName</p>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PresentPhone" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.PresentPhone</p>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IncidentDescription" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.IncidentDescription</p>
                </div>
            </div>

        </div>
        <div class="container2">
            <div>
                <label>Line Manager</label>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="LineManager.FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.LineManager.FirstName</p>
                </div>
                <label asp-for="LineManager.LastName" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.LineManager.LastName</p>
                </div>
            </div>
            <div class=" form-group row">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-3">
                    <p>@Model.Email</p>
                </div>
            </div>

   
        </div>
</div>