@model Reports

        <td>
                @Model.Principal.LastName
           

        </td>
        <td>

                @Model.Principal.FirstName

        </td>
        <td>
         @if (!String.IsNullOrEmpty(@Model.Principal.nextOfKin))
            {
                @Model.Principal.nextOfKin}
            else
            {

                <p>---</p>

            }
        </td>
        <td>
           @Model.IncidentType
        </td>

        <td>
            @Model.date.ToString("MM/dd/yyyy")
        </td>

        <td>
            @Model.time.ToString("HH:mm")
        </td>
