@model Reports

        <td>
                @Model.Subject.LastName
           

        </td>
        <td>

                @Model.Subject.FirstName

        </td>
        <td>
         @if (!String.IsNullOrEmpty(@Model.Subject.NextOfKin))
            {
                @Model.Subject.NextOfKin}
            else
            {

                <p>---</p>

            }
        </td>
        <td>
           @Model.IncidentType
        </td>

        <td>
            @Model.Date.ToString("MM/dd/yyyy")
        </td>

        <td>
            @Model.Time.ToString("HH:mm")
        </td>
